<html>
  <head>
    <title>Nasherai</title>
    <!-- Styles -->
    <!-- Bower -->
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">

    <!-- Vendor -->
    <link rel="stylesheet" href="styles/vendor/bootstrap-grid.min.css">

    <!-- Custom -->
    <link rel="stylesheet" href="styles/application.css">
    <link rel="stylesheet" href="styles/helpers.css">

    <!-- JS -->
    <!-- Bower -->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  </head>
  <body ng-app="nasherai" ng-controller="ApplicationCtrl">
    <div class="container-fluid">
      <div class="row">
        <div id="code" class="col-xs-6 full-height">
          <textarea class="full-height" ng-model="watchables.code" autofocus="true"></textarea>
        </div>
        <div id="preview" class="col-xs-6 full-height" ng-class="{ 'erroneous': firstError || runtimeError }">
          <ul id="preview-list">
            <li class="preview-list-item" ng-repeat="i in lineRange track by $index">
              <span ng-repeat="execution in lines[$index]" ng-if="execution.changes">
                <span ng-repeat="(variable, value) in execution.changes" ng-if="value !== undefined">
                  {{ variable }} = {{ value | json }}<span ng-show="!$last && value !== undefined">, </span>
                </span>
                <span ng-show="!$last"> | </span>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="line-error" class="full-height">
      <red-circle ng-repeat="error in errors" error="error" ng-if="error"></red-circle>
    </div>

    <div class="error">
      <span ng-show="firstError">
        Syntax error: Line {{ firstError.line }}, column {{ firstError.character }}: {{ firstError.reason }}
      </span>
      <span ng-show="runtimeError">
        {{ runtimeError.name }}: {{ runtimeError.message }}
      </span>
    </div>

    <!-- Custom JS -->
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/controllers/applicationCtrl.js"></script>
    <script type="text/javascript" src="scripts/directives/contenteditable.js"></script>
    <script type="text/javascript" src="scripts/directives/redCircle.js"></script>
  </body>
</html>
